{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>VORT</title>
    <link rel="stylesheet" href="{% static 'MainApp/home.css'%}">
    
{% endblock head %}
{% block body %}
<form action="upload/" class="dropzone" id="mydrop">
    {% csrf_token %}
    <div class="fallback">
      <input name="file" type="file" />
    </div>
  </form>
<div class="box" id="box">
</div>
{% endblock body %}
{% block script %}
    <script type="text/javascript" src="{% static 'MainApp/home.js' %}"></script>
{% endblock script %}